{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
    Home page | Digital QR
{% endblock %}

{% block content %}
<body>
    <div class="wrapper">
        <header>
            <a href="/"><p class="website_name">Digital QR</p></a>
            <div class="authorization_buttons_container">
               <a class="button_contact" href="{% url 'contact' %}">Contact</a>
                <a class="button_login" href="{% url 'authorization' %}">Log In</a>
                <a class="button_register" href="{% url 'registration' %}">Register</a>
            </div>
        </header> 
        <main>
            <div class="hero_section">
                <div class="qr_generator_intro">
                    <h1 class="hero_title">Create QR Codes Effortlessly</h1>
                    <p class="hero_description">Quickly create custom QR codes for any content type. Personalize them with unique designs to match your brand, and easily share or print them in multiple formats.</p>
                    <a class="generate_qr_button" href="#">Generate your QR code</a>
                </div>                
                <img class="hero_image" src="static/img/hero-image.png" alt="QR code generation illustration">
            </div>
            <hr>
            <div class="section_1">
                <div>
                    <h2 class="section_1_title">Create Your QR Codes Easily!</h2>
                    <p class="section_1_description">Follow these three simple steps to create your QR code</p>
                </div>
                <ul class="section_1_list">
                    <li class="section_1_item">
                        <img class="item_image" src="static/img/document-icon.svg" alt="Document icon">
                        <h3 class="item_title">Choose content</h3>
                        <p class="item_description">Select what to share - URLs, videos, apps, and more!</p>
                    </li>
                    <li class="section_1_item">
                        <img class="item_image" src="static/img/pen-icon.svg" alt="Pen icon">
                        <h3 class="item_title">Customize and design</h3>
                        <p class="item_description">Style your QR code’s color, shape, and create a distinctive design that reflects your brand!</p>
                    </li>
                    <li class="section_1_item">
                        <img class="item_image" src="static/img/printer-icon.svg" alt="Printer icon">
                        <h3 class="item_title">Export</h3>
                        <p class="item_description">Download your QR code in PNG, SVG, JPG, or EPS format. Print it or share it online!</p>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="section_2">
                <div>
                    <h2 class="section_2_title">Payment Plans</h2>
                    <p class="section_2_description">Choose your plan to continue creating your QR codes</p>
                </div>
                <ul class="section_2_list">
                    <li class="section_2_item">
                        <h3 class="item_title">FREE</h3>
                        <p class="item_price">0$/Month</p>
                        <ul>
                            <li>Any type of content</li>
                            <li>Create your own design</li>
                            <li>Download your QR code in any format</li>
                            <li>Up to 1 QR code per 6 months</li>
                        </ul>
                    </li>
                    <li class="section_2_item">
                        <h3 class="item_title">STANDARD</h3>
                        <p class="item_price">2$/Month</p>
                        <ul>
                            <li>Any type of content</li>
                            <li>Create your own design</li>
                            <li>Download your QR code in any format</li>
                            <li>10 QR codes/month</li>
                        </ul>
                    </li>
                    <li class="section_2_item">
                        <h3 class="item_title">PRO</h3>
                        <p class="item_price">10$/Month</p>
                        <ul>
                            <li>Any type of content</li>
                            <li>Create your own design</li>
                            <li>Download your QR code in any format</li>
                            <li>100 QR codes/month</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </main>
        <footer>
            <a href="/"><p class="website_name">Digital QR</p></a>
            <p class="adress">Ivan Akinfieva Street, 18, Dnipro, Ukraine, 49009</p>
            <p class="email_adress">nick20122044@gmail.com</p>
            <p class="phone_number">+380935023997</p>
            <div>
                <a class="footer_button" href="mailto:nick20122044@gmail.com"><img src="static/img/email-icon.svg" alt="email us"></a>
                <a class="footer_button" href="tel:+380935023997"><img src="static/img/phone-icon.svg" alt="call us"></a>
                <a class="footer_button" href="#"><img src="static/img/contact-icon.svg" alt="contact us"></a>
            </div>
            <p class="copyright">© 2025 · Digital QR</p>
        </footer>
    </div>
</body>
{%  endblock %}