{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href='static/home/css/home.css'>
{% endblock %}

{% block title %}
    Sign Up | Digital QR
{% endblock %}

{% block content %}
    </head>
    <body>
        <header>
            <nav>
                <ul class="header_list">
                    <li>
                        <img src="static/images/logo.jpg" alt="logo">
                    </li>
                    <li>Digital QR</li>
                    <a class="header_link" href="">Log In</a>
                    <a class="header_link_2" href="">Sign Up</a>
                </ul>
            </nav> 
        </header>

    <main>
        <h1>Contact Us</h1>
        <h3>Need help with QR codes? At Digital QR, we're here for you. Fill out the form with your questions or concerns, and our team will reach out to you shortly.</h3>

        <p>Full Name</p>
        <input type="">
        <p>Email</p>
        <input type="">
        <p>Subject</p>
        <input type="">
        <p>Question</p>
        <input type="">
        
        <a href="" class="send_button">Send</a>

        <footer>
            <h2>Digital QR</h2>
            <p>Ivan Akinfieva Street, 18, Dnipropetrovsk, Ukraine, 49009</p>
            <p>nick20122044@gmail.com</p>
            <p>+380935023997</p>
        </footer>
    </main>
    </body>
{% endblock %}